styledimg{background-image:https://www.linkedin.com/in/adam-knoepke-0203b991/;background-repeat: no repeat; width 10px; height 20px;}
body{backgraound-color: #F5F5F5;
color:000000; font-family: arial, helvetica, sans-serif; margin: 10% 10%}
.exp-header{text-align: center; text-transform: uppercase; border-top: 1px solid;border-bottom: 1px solid;background-color: rgba(0,0,0,  0.1) }
